<%= form_for [@getaway, @stop] do |f| %>
  <% if @stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% @stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :arrival, "Arrive" %>
    <%= f.datetime_select :arrival, :ampm => true, :minute_step => 15 %>
  </div>

  <div>
    <%= f.label :departure , "Depart" %>
    <%= f.datetime_select :departure, :ampm => true, :minute_step => 15 %>
  </div>

  <div>
    <%= f.label :city_id %>
    <%= f.select :city_id, @cities.map { |c| [ c.display_name, c.id ] }, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
