<%= link_to 'Edit', edit_getaway_stop_path(@getaway, @stop) %> |
<%= link_to 'Destroy', getaway_stop_path(@getaway, @stop), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', getaway_path(@getaway) %>

<h2><%= @stop.name %></h2>
<h5><%= @stop.duration_string %> (<%= @stop.duration %> hours)</h5>
<p id="notice"><%= notice %></p>

<%= link_to 'New Adventure', new_getaway_stop_adventure_path(@getaway, @stop) %>

<% if @stop.adventures.blank? %>
  <div>You currently don't have any adventures scheduled in <%= @stop.name %> :(</div>
  <br/>
<% else%>
  <% @adventures = @stop.adventures %>
  <ul>
    <% @adventures.each do |adventure| %>
      <li>
        <a href="<%= getaway_stop_adventure_path(@getaway, @stop, adventure) %>">
          <%= adventure.sight.name %>
        </a>
        <span> - <%= adventure.description %></span>
      </li>
    <% end %>
  </ul>
<% end %>
