<%= link_to 'Edit', edit_getaway_stop_path(@getaway, @stop) %> |
<%= link_to 'Destroy', getaway_stop_path(@getaway, @stop), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', getaway_path(@getaway) %>

<h2><%= @stop.name %></h2>
<h5><%= @stop.duration_string %> (<%= @stop.duration %> hours)</h5>
<p id="notice"><%= notice %></p>

<ul>
  <lh>General Information:</lh>
  <li>Locals call "<%= @stop.country.name %>": <%= @stop.country.local_name %></li>
  <li>Currency: <%= @stop.country.currency.code %></li>
  <li>Languages spoken: <%= @stop.country.languages.join(', ') %></li>
  <li>Country dialing code: +<%= @stop.country.country_code %></li>
</ul>

<br/>

<%= link_to 'New Adventure', new_getaway_stop_adventure_path(@getaway, @stop) %>

<% if @stop.adventures.blank? %>
  <div>You currently don't have any adventures scheduled in <%= @stop.name %> :(</div>
  <br/>
<% else%>
  <% @adventures = @stop.adventures %>
  <ul>
    <lh>Adventures</lh>
    <% @adventures.each do |adventure| %>
      <li>
        <a href="<%= getaway_stop_adventure_path(@getaway, @stop, adventure) %>">
          <%= adventure.sight.name %>
        </a>
        <span> - <%= adventure.description %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<div id='map'></div>

<script type='text/javascript'>
  var city = '<%= @stop.city.to_json %>';
  var sights = '<%= @stop.sights.to_json %>';

  // TODO: Fix this horrible hack
  while (city.includes('&quot;')) { city = city.replace('&quot;', '"'); }
  while (sights.includes('&quot;')) { sights = sights.replace('&quot;', '"'); }

  city = JSON.parse(city);
  sights = JSON.parse(sights);
</script>

<%= javascript_include_tag @google_maps_url %>
