<%= form_for [@getaway, @stop, @adventure] do |f| %>
  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% @adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :sight_id, "Sights near #{@stop.city.name}:" %>
    <%= f.select :sight_id, @sights.map { |s| [ "#{s.name} - #{s.distance.round(2)} km", s.id ] }, include_blank: true %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
