<%= link_to 'Edit', edit_getaway_stop_adventure_path(@getaway, @stop, @adventure) %> |
<%= link_to 'Back', getaway_stop_adventures_path(@getaway, @stop) %>

<h2><%= @adventure.description %></h2>
<p id="notice"><%= notice %></p>

<div>Sight: <%= @adventure.sight.name %></div>
<div>City: <%= @adventure.stop.name %></div>

<div>Map goes here</div>
<div>Maybe some reviews go here</div>
<div>Maybe a list of friends that recommended it</div>
