<%= form_for(@getaway) do |f| %>
  <% if @getaway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@getaway.errors.count, "error") %> prohibited this getaway from being saved:</h2>

      <ul>
      <% @getaway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :arrival, "Arrive" %>
    <%= f.datetime_select :arrival, :ampm => true, :minute_step => 15 %>
  </div>

  <div>
    <%= f.label :departure , "Depart" %>
    <%= f.datetime_select :departure, :ampm => true, :minute_step => 15 %>
  </div>

  <div>
    <%= f.label :is_public, "Viewable by everyone:" %>
    <%= f.check_box :is_public, default: false %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
