<p id="notice"><%= notice %></p>

<h1>Listing Getaways</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @getaways.each do |getaway| %>
      <tr>
        <td><%= link_to 'Show', getaway %></td>
        <td><%= link_to 'Edit', edit_getaway_path(getaway) %></td>
        <td><%= link_to 'Destroy', getaway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Getaway', new_getaway_path %>
