<%= link_to 'Edit', edit_getaway_path(@getaway) %> |
<%= link_to 'Back', getaways_path %>

<h2><%= @getaway.name %></h2>
<h5><%= @getaway.duration_string %> (<%= @getaway.duration(:days) %> days)</h5>
<p id="notice"><%= notice %></p>


<%
  countries =  @getaway.visiting_countries
  cities = @getaway.visiting_cities
%>
<ul>
  <lh>Overview:</lh>
  <li>Cities: <%= cities.map(&:name).join(', ') %> (<%= cities.count %>)</li>
  <li>Countries: <%= countries.map(&:name).join(', ') %> (<%= countries.count %>)</li>
  <li>Currencies: <%= countries.map(&:currency).uniq.map(&:code).join(', ') %></li>
  <li>Languages: <%= countries.map(&:languages).flatten.uniq.join(', ') %></li>
</ul>

<br/>

<%= link_to 'New Stop', new_getaway_stop_path(@getaway) %>

<% if @getaway.stops.blank? %>
  <div>This getaway doesn't currently have any stops.</div>
<% else%>
  <% @stops = @getaway.stops.order(:arrival) %>
  <ul>
    <% @stops.each do |stop| %>
      <li>
        <a href="<%= getaway_stop_path(@getaway, stop) %>">
          <%= stop.city.name %> - <%= stop.duration_string %>
        </a>
        <% adventures = stop.adventures %>
        <% if adventures.present? %>
          <ul>
            <% adventures.each do |adventure| %>
              <li>
                <a href="<%= getaway_stop_adventure_path(@getaway, stop, adventure.id) %>">
                  <%= adventure.sight.name %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
